* {
  box-sizing: border-box;
}

#etch-a-sketch {
  width: 850px;
  height: 650px;
  background-color: red;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

canvas {
  background-color: rgb(230,230,230);
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
}

#controls {
  display:flex;
  justify-content: space-between;
  margin: 10px;
}

.dial {
  background-color: grey;
  width: 100px;
  height: 100px;
 border-radius: 50px;
}
